<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.howtodoinjava.Listeners"/>
    </listeners>
<test verbose="2" preserve-order="true" name="C:/Users/IN-LT-69/intelliJDemo">
<classes>
<class name="com.howtodoinjava.HomePage">
<methods>
<include name="navigateToHomePage"/>
</methods>
</class>
</classes>
</test>
</suite>